---
interface Props {
  color?: string;
}

const { color = "#e4e4e7" } = Astro.props;
---

<section
  class="!max-w-full !px-0 py-6 w-full mx-0 flex justify-center"
  style={`background-color: ${color};`}
>
  <div
    class="w-full max-w-[60rem] px-6 text-justify"
  >
    <slot />
  </div>
</section>
