---
import { Icon } from "astro-icon/components";
import type { Link } from "../types/types";

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div class="flex flex-row flex-wrap justify-center gap-2">
  {
    links.map((link) => {
      const isDisabled = link.disabled === true;

      return (
        <a
          href={isDisabled ? undefined : link.url}
          class={
            `flex flex-row bg-zinc-800 text-white rounded-full gap-2 items-center text-lg px-5 py-2 hover:bg-zinc-900 hover:no-underline 
            ${isDisabled ? "opacity-50 pointer-events-none" : ""}`
          }
        >
          {link.icon && <Icon name={link.icon} />}
          <span>{link.name}</span>
        </a>
      );
    })
  }
</div>
